.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  max-width:1100px;
  position: sticky;
  font-size: 1.4rem;
}
.header__logo{
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Open Sans';
  font-style: italic;
  letter-spacing: 3px;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__nav li {
  margin-left: 32px;
  list-style: none;
}
.header__btn {
  background: #212121;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  padding: 20px 40px;
  margin-left: 40px;
}


@media screen and (max-width:1079px){
  .header__menu{
  }
}